body {
  background-color: #60d9f1;
}
header{
    text-align: center;
    font-size: 36px;
}
.player{
    margin: 3% 5%;
    padding: 1% 2% 4% 2%;
    border-bottom: solid 1px gray;
}
.music-player{
  width: 100%;
}
.search{
    margin: 3% 5%;
    padding: 1% 2% 4% 2%;
    border-bottom: solid 1px gray;
}
.search-form{
  display: flex;
}
#submit{
  margin: 0 0 0 2%;
  width: 22%;
  height: 5vh;
  border-width: 1px;
}
.bottomresults{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}
.music_prof{
  width: calc(100%/5);
  margin-bottom: 20px;
}
.music_prof img{
  width: 80%;
  border-radius: 50%;
}
.results{
  margin: 3% 5%;
}
.results h2{
  font-weight: bold;
  padding-left: 5px;
}
.search_input{
  width: 100%;
  height: 4vh;
  padding-left: 10px;
}
.main_data_fav{
    display: flex;
    width: 90%;
    margin: 0px 5% 0px 5%;
    flex-wrap: wrap;
}
.top_row{
    display: flex;
    justify-content: space-between;
}
.music_list{
  width: 100%;
  display: inline-block;
  margin: 10px 0;
  padding: 0px 10px;
  box-shadow: 1px 2px;
}
.main_data_fav div:nth-child(even) {background: #CCC}
.main_data_fav div:nth-child(odd) {background: #FFF}

.nav{
    width: 90%;
    margin: 20px 5%;
    display:flex;
}
.nav a{
    width: calc(90%/4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fav_header{
    text-align: center;
    font-size: 64px;
}
.selectedmusic{
  margin: 15px 0px 0px;
  font-size: 20px;
}